body{
    background-color: dimgray;
    padding: 40px;
}
.camera{
    width: 640px;
    height: 400px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
#webcam, #photoCanvas{
    display: none;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
